#container
{
	display: flex;
	justify-content: center;
	text-align: center;
	display: block;
}

#deleteUser
{
	display: table;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	margin: auto;
	text-align: center;
	color: red;
	border-width: 2px;
	border-style: solid;
	border-color: red;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.25s;
}

#deleteUser:hover
{
	color: white;
	background-color: red;
}