
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"><%= title%></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item <% if(active == "home") {%>active<%}%>">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item <% if(active == "all") {%>active<%}%>">
				<a class="nav-link" href="gallery?active=all&search=all">All</a>
			</li>
			<li class="nav-item <% if(active == "favorites") {%>active<%}%>">
				<a class="nav-link" href="gallery?active=favorites&search=favorites">Favorites</a>
			</li>
			<li class="nav-item <% if(active == "browse Tags") {%>active<%}%>">
				<a class="nav-link" href="/browseTags">Browse Tags</a>
			</li>
			<li class="nav-item <% if(active == "upload") {%>active<%}%>">
				<a class="nav-link" href="/upload">Upload</a>
			</li>
		</ul>
		<form class="form-inline" method="POST" action="logout">
			<button class="btn btn-outline-info my-2 my-sm-0" id="logout" type="submit">Logout</button>
		</form>
		<div class="form-inline">
			<input id="searchExpression" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button id="submit" class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
		</div>
	</div>

	<script src="js/search.js"></script>
</nav>
