
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#"><%= title%></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item <% if(active == "home") {%>active<%}%>">
				<a class="nav-link" href="/">Home</a>
			</li>
			<li class="nav-item <% if(active == "favorites") {%>active<%}%>">
				<a class="nav-link" href="favorites">Favorites</a>
			</li>
			<li class="nav-item dropdown <% if(active == "browse tags" || active == "browse all") {%>active<%}%>">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  Browse
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="browseTags">Tags</a>
					<a class="dropdown-item" href="browseAll">All</a>
				</div>
			  </li>
		</ul>
		<form class="form-inline" method="POST" action="logout">
			<button class="btn btn-outline-info my-2 my-sm-0" id="logout" type="submit">Logout</button>
		</form>
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>
</nav>
