<!DOCTYPE html>
<html>
	<head>
		<title><%= title%> | register</title>

		<link rel="stylesheet" href="css/larform.css">
		<link rel="stylesheet" href="css/register.css">
	</head>

	<body>
		<div id="container">
			<h1>register</h1>
			<p id="error">
				<% if (error == "error.auth.UsernameTaken") { %>
					username is alredy taken
				<% } else if (error == "error.auth.EmailUsed") { %>
					email is alredy used
				<% } else if (error == "error.auth.PasswordsDontMatch") { %>
					passwords dont match
				<% } else if (error == "error.auth.CouldNotCreateUser") { %>
					could not add user to database please try again
				<% } %>
			</p>
			<form method="POST" action="register">
				<input type="text" class="input" id="email" placeholder="email" name="email" required>
				<input type="text" class="input" id="username" placeholder="username" name="username" required>
				<input type="password" class="input" id="password" placeholder="password" name="password" required>
				<input type="password" class="input" id="confpassword" placeholder="confirm password" name="confpassword" required>
				<input type="submit" class="input" id="submit" value="submit">
			</form>

			<div id="loginContainer">
				<p>alredy have an account?</p>
				<a href="login" class="input" id="login">login</a>
			</div>
		</div>
	</body>
</html>