<!DOCTYPE html>

<html>
	<head>
		<title><%= title%> | upload</title>

		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- cdns -->
		<%- include('./cdns.ejs')%>

		<link rel="stylesheet" href="css/tags.css">
		<link rel="stylesheet" href="css/upload.css">
		<link rel="stylesheet" href="css/mainStyle.css">

		<script src="js/upload.js"></script>
		<script src="js/tags.js"></script>
		<script src="js/fileExtensions.js"></script>
	</head>

	<body>

		<%- include('./header.ejs') %>

		<div id="container">
			<div id="uploadContainer">
				<div id="error"></div>
				<div id="uploadFiles">
				</div>

				<div class="button" id="addNewFile">Add New Image</div>

				<div class="tags"></div>

				<div class="button" id="upload">Upload</div>
			</div>
		</div>
	</body>
</html>