<!DOCTYPE html>

<html>
	<head>
		<title><%= title%> | upload</title>

		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- cdns -->
		<%- include('./cdns.ejs')%>

		<link rel="stylesheet" href="css/upload.css">
		<link rel="stylesheet" href="css/mainStyle.css">
	</head>

	<body>

		<%- include('./header.ejs') %>

		<div id="container">
			<form id="uploadContainer" method="POST" action="upload" enctype="multipart/form-data">
				<label id="uploadLable">
					<input type="file" name="image" accept="image/*">
					select image
				</label>
				<input type="submit" value="upload">
			</form>
		</div>
	</body>
</html>